.dashboard {
    background-color: #ECECEC;
    border-radius: 20px 0 0 0;
    height: 100%;
}

.dashboard h1 {
    font-size: 44px;
    font-weight: 600;
}

/* .dashboard .row {
    border: 1px solid black;
} */

.dashboard .simple-card {
    background-color: #fff;
    border-radius: 30px;
}

.dashboard .w49 {
    width: 49%;

}

.dashboard .simple-card h5 {
    font-size: 25px;
    font-weight: 600;
}

.dashboard .simple-card p {
    font-size: 45px;
    font-weight: 600;
}

.dashboard .simple-card .card-icon a {
    padding: 14px 24px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: 44px;

}

.dashboard .calendar {
    background-color: #fff;
    border-radius: 30px;
    width: 98%;
}

.dashboard .simple-card .card-info .addNew {
    background-color: #fff;
    border: 0px;
}

.addNew:active {
    border: none;
    outline: none;
}

.addNewButton {
    border: none;
    outline: none;
    background-color: #fff;
}


.project-option-button {
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
}

.project-option-button:hover {
    color: rgb(73, 73, 73);
}

.dropdown-item:active {
    background-color: var(--primary-color);
}

.dropdown-add-button {
    color: black;
    background-color: transparent;
    border: none;
    outline: none;

}

.tag-wrapper {
    border: solid 1px var(--primary-color);
    border-radius: 8px;
    padding: 3px;
    background-color: var(--secondary-color);
}

.tag-wrapper2 {
    font-size: small;
    color: rgb(83, 83, 83);
    border: solid 1px var(--primary-color);
    border-radius: 8px;
    padding: 3px;
    height: fit-content;
    background-color: var(--secondary-color);
    opacity: 0.9;
}

.custom-modal-footer {
    border-top: none;
}

.custom-list-group-item-action:hover {
    background-color: var(--secondary-color);
}



.dashboard .simple-card .card-info .addIcon {
    font-size: 30px;
    color: "#000000"
}

.dashboard .simple-card .card-number {
    margin: 10px 0px;
}

.dashboard .simple-card .card-number .card-icon .viewFolder {
    color: var(--primary-color)
}

.dashboard .second-card {
    background-color: #fff;
    border-radius: 30px;

}

.addIcon {
    transition: transform 0.2s;
}

.addIcon:hover {
    transform: scale(1.1);
}


/* ------------------- PROJECTS STYLE ------------------- */

.dashboard .project-card h2 {
    font-size: 1.4em;
    font-weight: 700;
}

.dashboard .project-card .numberOf {
    border: 1px solid var(--medium-grey-color);
    border-radius: 14px;
    padding: 14px 22px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.2em;
}

.dashboard .project-card .numberOf h3 {
    font-size: 1em;
    font-weight: 600;

}

.dashboard .project-card .numberOf span {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--primary-color)
}

.dashboard .project-card p {
    font-size: 1em;
    font-weight: 500;
}

.dashboard .project-card .butProj {
    display: flex;
    justify-content: space-between;
}

.dashboard .project-card .butProj button {
    font-size: 1em;
    font-weight: 600;
}

.delete-project-button {
    background-color: transparent;
    color: rgb(203, 0, 0);
    border: none;
    outline: none;
    margin-left: 0px;
    padding: 0%;
}


/* --------ACCORDION COMPONENT-------------------------ACCORDION COMPONENT------- */


.accordion-button {
    background-color: white;
    outline: none;
    color: black;
}

.accordion-button:focus {
    background-color: white;
    outline: none;
    border: none;
}


.accordion-button:not(.collapsed) {
    background-color: var(--secondary-color);
    outline: none;
    color: black;
}

accordion-button:focus:not(:focus-visible) {
    border: none;
    outline: none;
}

.accordion-wrapper::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.accordion-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.accordion-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

.file-url {
    color: black;
}

.file-list {
    margin-bottom: 5px;


}