:root {
  --primary-color: #FF7C33;
  --secondary-color: #FFECE8;
  --light-grey-color: #efefef;
  --medium-grey-color: #DEDEDE;
  --dark-grey-color: #AFAFAF;
  --light-text-color: white;
}

body {
  font-family: 'Poppins', sans-serif;
}


/* HOME STYLES */

.fade-in-img {
  animation: fadeInAnimation 0.3s ease-in 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.home-title h1 {
  font-size: 70px;
  max-width: 800px;
  font-weight: 800;
  margin: 0 auto;
}

.home-title p {
  font-size: 22px;
  font-weight: 500;
  max-width: 470px;
  margin: 30px auto;
}

.home .home-button {
  background-color: var(--primary-color);
  text-decoration: none;
  color: #fff;
  height: 50px;
  align-items: center;
  display: inline-flex;
  width: 250px;
  margin: 0 auto;
  border-radius: 8px;
}

.home .home-button span {
  margin: 0 auto
}

.home .home-button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  outline: 2px solid var(--primary-color);
}

/* -------------------------------------------------------------------------------uploadFile */

.upload-file-button-container {
  max-width: 150px;

}

.upload-file-button {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  border-radius: 8px;
  border: none;
}

.upload-file-button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  outline: 2px solid var(--primary-color);

}

.upload-file-button-label {
  color: rgb(145, 145, 145);
  font-size: small;
  padding-left: 4px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 20px;
}


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,200&display=swap');